<title>Login Page</title>

<h2>Login Page</h2>
<form name="input" action="html_form_action.asp" method="get">
Username <input type="text" name="user"><br>
Password <input type="password" name="pwd"><br>
<input type="submit" value="submit">
</form>

<td><small>Have you forgottten your password?</small></td>
<td><%= link_to "Click here", login_path%></td>


<form name="input" action="html_form_action.asp" method="get">



<input type="radio" name="sex" value="female">Female
</form>

<