<!-- BY COLLOQUE TSUI -->
<div class="whiteback">
<h1><%= @status %></h1>
</div>
<div class="therest companylist">
<table width="100%">
  <thead style="text-align: left; padding-left: 0px;">
    <tr>
      <th width="33%">Name</th>
      <th width="33%">Sector</th>
      <th width="33%">Location</th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= link_to finance.name, finance %></td>
        <td><%= finance.sector %></td>
        <td><%= finance.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
