<script>
  function loadXMLDoc()
  {
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.onreadystatechange=function()
    {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
      document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
      }
    }
  var str = $( "form" ).serialize();
  xmlhttp.open("GET","select.html?"+str,true);
  xmlhttp.send();
  }
</script>
<h1>Listing Company</h1>

<div id="sidebar" class="grid_4">
  <form>
    <p><strong>Please select Sector and Location</strong></p>
    <select name="sector">
      <option value="all">All</option>
      <option value="Information Technology">Information Technology</option>
      <option value="Health Care">Health Care</option>
      <option value="Utilities">Utilities</option>
      <option value="Financials">Financials</option>
    </select><br/>
    <select name="name">
      <option value="all">All</option>
      <option value="Accenture">Accenture</option>
    </select><br/>
  </form>
  <button type="button" onclick="loadXMLDoc()">Show</button>
</div>
<div id="myDiv" width="100%">
</div>

