/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	/*background-color: #6d9ab9;*/
	background-image: url("bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;

}

select {
	width: 180px;
	margin-bottom: 10px;
}

.sidebar {
	/*margin-left: 10px;*/
	position: fixed;
	background-color: #fff;
	padding-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	max-width: 260px;
	padding-bottom: 10px;
}

#myDiv {
	position: relative;
	background-color: #fff;
	z-index: 0;
	margin-left: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	min-width: 650px;
	float: left;
	margin-bottom: 10px;
}

.navbar{
	float: left;
	width:100%;
	/*background-color: #204477;*/
	background-color: #000;
	position: fixed;
	top: 0px;
	padding-bottom: 10px;
	z-index: 9999;
	padding-top: 10px;

}

.navitem, .navitem a, .navitem a:visited {
	float: left;
	position: relative;
	color: #fff;
}


