// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//BY COLLOQUE TSUI
html, body {
	background-color: #fff;
}

select {
	width: 180px;
	margin-bottom: 10px;
}

.compdetail {
	position: relative;
	float: left;
	margin-top: 60px;
	background-color: #EFEFEF;
	padding-bottom: 10px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	max-width: 250px;
}

.about {
	/*margin-left: 10px;*/
	position: fixed;
	background-color: #EFEFEF;
	/*padding-left: 10px;*/
	max-width: 260px;
	padding-bottom: 10px;
	margin-top: 295px;
	border-left: 1px #d3d6db solid;
	border-right: 1px #d3d6db solid;
	border-bottom: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.about p {
	margin-top: 5px;
}

.sidebar {
	/*margin-left: 10px;*/
	position: fixed;
	/*padding-left: 10px;*/
	max-width: 260px;
	padding-bottom: 10px;
	margin-top: 30px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #EFEFEF;
}

#myDiv {
	position: relative;
	background-color: #EFEFEF;
	z-index: 0;
	/*margin-left: 300px;*/
	min-width: 630px;
	float: right;
	margin-bottom: 10px;
	margin-top: 30px;
	padding-bottom: 10px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

}

.navbar{
	float: left;
	width:100%;
	/*background-color: #204477;*/
	background-color: #2bb24c;
	position: fixed;
	top: 0px;
	/*padding-bottom: 3px;*/
	z-index: 9999;
	/*padding-top: 5px;*/
	/*box-shadow: 0px 1px 20px #5E5E5E;*/
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);

}

.navitem, .navitem a, .navitem a:visited {
	float: left;
	position: relative;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	font-size: 15px;
	margin-right: 10px;
	line-height: 23px;
	padding: 0px;
	letter-spacing: -0.02em;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 2px;

}

.navitem a:hover {
	text-decoration: underline;
}


.result {
	position: relative;
	background-color: #EFEFEF;
	z-index: 0;
	max-width: 900px;
	margin-bottom: 10px;
	margin-top: 60px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.searchbox {
	position: relative;
	float: right;
	margin-right: 10px;
	border: 0px;
	height: 24px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #AAA;
	background: #FFF url(//s3.feedly.com/production/head/images/icon-search-44-gray.png ) no-repeat;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	padding-left: 25px;
	font-family: sans-serif;
	background-color: #FFF;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
}

.login {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 7px;
	/*width: 70px;*/
}

#login:hover #loginbox {
	display: block; 
}

#login:hover .login {
	background-color: #fff;
	/*z-index: 1000;*/
	/*border-left: 1px #d3d6db solid;
	border-right: 1px #d3d6db solid;*/
}

#login:hover a {
	color: #2bb24c;
}

#loginbox {
	float: left;
	position: absolute;
	width: 220px;
	background-color: #fff;
	left: 0px;
	top: 34px;
	font-size: 12px;
	/*border-top: 1px #d3d6db solid;*/
	border-left: 1px #d3d6db solid;
	border-right: 1px #d3d6db solid;
	border-bottom: 1px #d3d6db solid;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 999;
	padding: 10px;
	padding-top: 0px;
	display: none;
}

#searchbox, #searchbox:focus{
	position: relative;
	outline: 0;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border: 0px;
    /*font-size: 10px;*/
    line-height: 18px;
    width: 100px;
    border-radius: 2px;
}


.pathbar {
	position: fixed;
	float: left;
	min-width: 100%;
	margin-top: 25px;
	/*background-color: #fff;*/
	z-index: 999;
	margin-left: 10px;
}

.pathitem {
	margin-left: 20px;
	position: relative;
	float: left;
}

#searchresult {
	float: right;
	position: absolute;
	max-width: 200px;
	min-width: 120px;
	background-color: #fff;
	right: 0px;
	margin-top: 34px;
	font-size: 10px;
	border-left: 1px #d3d6db solid;
	border-right: 1px #d3d6db solid;
	border-bottom: 1px #d3d6db solid;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 999;
	padding: 10px;
}

.whiteback {
	background-color: #fff;
	width: 100%;
	/*border-bottom: 1px #d3d6db solid;*/
	line-height: 40px;
}
.whiteback h1 {
	margin-top: 0px;
	font-weight: 600;
	letter-spacing: -0.03em;
	padding-left: 10px;
	margin-bottom: 0px;
	color: #494949;
	padding-top: 10px;
	padding-bottom: 10px;
}

.therest {
	border-top: 1px #d3d6db solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.therest table {
	padding-top: 10px;
}

.companylist {
	max-height: 75vh;
	overflow: scroll;
}

.button-style {
    padding: 6px;
    background: #2bb24c;
    color: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0px;
    font-weight: bold;
    position: relative;
    float: left;
    /*margin-right: 10px;*/
    font-family: sans-serif;
    margin-right: 10px;
}

.button-style:hover, .button-style:focus {
    border: solid 0px #2A4E77;
    text-decoration: none;
    outline: 0;
}
.button-style:active {
	background: #0e7429;
    border: 0px;
}

.select-style {
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 2px;
    overflow: hidden;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
    height: 26px;
    line-height: 18px;

}

.select-style select {
    /*padding: 5px 8px;*/
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin-left: 10px;
    margin-top: 5px;
}

select:focus {
    outline: none;
}

#select {
	font-weight: bold;
	/*line-height: 10px;*/
}
label {
	float: left;
	width: 60px;
}
input {
	position: relative;
	/*float: right;*/
}

br {
  clear: left;
}

.fb-like, .tweet, .gplus {
	margin-top: 10px;
	position: relative;
	float: left;
	margin-right: 10px;
}

.loginpage {
	margin-top: 30px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #EFEFEF;
}

.registerpage {
	margin-top: 30px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #EFEFEF;
}
