// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background-color: #fff;
}

select {
	width: 180px;
	margin-bottom: 10px;
}

.compdetail {
	position: relative;
	float: left;
	margin-top: 60px;
	background-color: #EFEFEF;
	padding-left: 10px;
	padding-bottom: 10px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	max-width: 250px;
}

.sidebar {
	/*margin-left: 10px;*/
	position: fixed;
	background-color: #EFEFEF;
	padding-left: 10px;
	max-width: 260px;
	padding-bottom: 10px;
	margin-top: 60px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#myDiv {
	position: relative;
	background-color: #EFEFEF;
	z-index: 0;
	/*margin-left: 300px;*/
	max-width: 605px;
	float: right;
	margin-bottom: 10px;
	margin-top: 60px;
	padding: 10px;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.navbar{
	float: left;
	width:100%;
	/*background-color: #204477;*/
	background-color: #2bb24c;
	position: fixed;
	top: 0px;
	padding-bottom: 5px;
	z-index: 9999;
	padding-top: 5px;
	box-shadow: 0px 1px 20px #5E5E5E;

}

.navitem, .navitem a, .navitem a:visited {
	float: left;
	position: relative;
	color: #fff;
	font-weight: lighter;
	text-decoration: none;
	font-size: 15px;
	margin-left: 10px;
	line-height: 23px;
	padding: 0px;

}

.navitem a:hover {
	text-decoration: underline;
}

.result {
	position: relative;
	background-color: #EFEFEF;
	z-index: 0;
	max-width: 900px;
	margin-bottom: 10px;
	margin-top: 60px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px #d3d6db solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.searchbox {
	position: relative;
	float: right;
	margin-right: 10px;
	border: 0px;

}


.pathbar {
	position: fixed;
	float: left;
	min-width: 100%;
	margin-top: 25px;
	/*background-color: #fff;*/
	z-index: 999;
	margin-left: 10px;
}

.pathitem {
	margin-left: 20px;
	position: relative;
	float: left;
}

#searchresult {
	float: right;
	position: absolute;
	width: 200px;
	background-color: #fff;
	right: 0px;
	margin-top: 28px;
	font-size: 10px;
	border-left: 1px #d3d6db solid;
	border-right: 1px #d3d6db solid;
	border-bottom: 1px #d3d6db solid;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 999;
	padding: 10px;
}